.additional-info{
  padding:10px;
  font-size:15px;

  h2{
    font-size:16px;
    font-weight:bold;
    margin-top:5px;
    margin-bottom:5px;
  }

  h3{
    font-size:100%;
    font-weight:bold;
  }

  a{
    color:#9baec8;
    text-decoration: none;
  }

  ul.kakomi {
    background-color: #626678;
    padding: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    line-height: 150%;
    font-size:90%;
  }

  li{
    padding-left:10px;
  }
}

.display-name__html {
    font-weight: bold;
}

.landing-page .header .links .brand img {
    height: 70px;
}

.landing-page .header .hero .heading {
    padding-bottom: 180px;
}

.landing-page ul {
  font-size: 16px;
  line-height: 30px;
  color: #606984;
}

.logo-container h1 img {
    height: 90px;
}

